{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  <h1 style="margin-bottom: 18px;">Add Livestock Record</h1>
  <form method="POST" class="form-card">
    <label for="">Tag Number</label>
    <input type="text" name="tag_number" required />

    <label for="">Species</label>
    <input type="text" name="species" />

    <label for="">Breed</label>
    <input type="text" name="breed" id="" />

    <label for="">Sex</label>
    <select name="sex" id="">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <label for="">Status</label>
    <input type="text" name="status" id="" />

    <button type="submit">Save Animal</button>
  </form>
</div>
{%endblock%}
