{% extends "base.html" %}
{% block title %}Add User{% endblock %}

{% block content %}
<div class="container">
  <h1 style="margin-bottom: 18px;">Add New User</h1>
  <form method="POST" class="form-card">
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Role</label>
    <select name="role" required>
      <option value="staff">Staff</option>
      <option value="admin">Admin</option>
    </select>

    <button type="submit">Add User</button>
  </form>
</div>
{% endblock %}
